@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}
h3 {
    color: white;
}

.body {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    /* margin: 4%; */
    border-radius: 1em;
}
.logo{
    width: 40%;
    margin-top: 2%;
}
/* logo and address space */
.empty-space {   
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    /* border: 1px solid red; */
    width: 75%;

}

/* hide phone number */
.hide-info {
    display: none;
}
/* targeting individual images */
.carousel-item{
    padding: 2%;
    width: auto;
    height: 620px;
    max-height: 620px;
}
.caroussel {
    width: 45%;
    text-align: center;
}
.messages {
    margin-top: 15%;
    width: 45%;
    text-align: center;    
}
.icon-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.clase-iconos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 70%;
}
.icons {
    width: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
}
.icons:hover {
    transform: scale(1.2);
}
.menu-button-burger {
    /* border: 1px solid white; */
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-button-burger::before,
.menu-button-burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.632);
    transition: all .5s ease-in-out;
}
 .menu-button-burger::before {
    transform: translateY(-16px);
    transform: translateY(16px);
    }

/* Dropdown Button */
.dropbtn {
    margin-top: 5%;
    margin-left: 5%;
    /* border: 1px solid red; */
    background-color: white;    
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: all .5s ease-in-out;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; */
    /* border: 1px solid red; */
    margin-left: 8%;
    margin-top: 3%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(198, 188, 188)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .top-flex-container {
      display: flex;
      justify-content: inherit;
      flex-direction: row;
      /* border: 1px solid red; */
  }
  .business-hours {
      color: black;
      text-align: center;
      margin-top: 5%;
  }
  #back-to-top {
      text-align: center;
  }
  .welcome {
      /* background-color: black; */
      color: black;
      justify-content: flex-end;
      display: flex;
      border-radius: 2em;
      flex-direction: row;
      border-top: 1px solid #3B5999;
      border-bottom: 1px solid #3B5999;
  }
  .welcome h3 {
      color: black;
  }
  .article {
      padding: 5%;
  }
  
  section {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      width: 500px;
     
  }
  #established {
      
      padding: 2%;
  }
  #welcome-header {
      margin-top: 5%;
      margin-left: 5%;
      font-weight: bold;
  }
  #like {
      margin-top: 8%;
      font-weight: bold;
      /* border: solid 1px red; */
      width: 100%;
  }
  .my-info {
      margin-top: 45%;
      text-align: center;
      
      
  }
  #phone-num {
      font-weight: bold;
      margin-top: 2%;
  }
  #ref {
      margin: 2%;
      text-align: center; 
  }

/* ========================================================================================================= */
  @media screen and (max-width: 812px) {
    body {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .container {
        font-family: 'Nunito Sans', sans-serif;
        width: 100%;
    }
    h3 {
        color: white;
    }
    
    .body {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid black;
        /* margin: 4%; */
        border-radius: 1em;
    }
    .logo{
        width: 60%;
        margin-top: 2%;
    }
    /* logo and address space */
    .empty-space {   
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
        /* border: 1px solid red; */
        width: 75%;
    
    }
    
    /* hide phone number */
    .hide-info {
        display: none;
    }
    /* targeting individual images */
    .carousel-item{
        padding: 2%;
        width: auto;
        height: 620px;
        max-height: 620px;
    }
    .caroussel {
        width: 45%;
        text-align: center;
    }
    .messages {
        margin-top: 4%;
        width: 45%;
        text-align: center;    
    }
    .icon-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }
    .clase-iconos {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        /* border: 1px solid red; */
    }
    .icons {
        width: 10%;
        height: 10%;
        margin-bottom: 3%;
        
        /* border: 1px solid red; */
    }
    .icons:hover {
        transform: scale(1.2);
    }
    .text-area {
        width: 85%;
        height: 50%;
    }
    .menu-button-burger {
        width: 2%;
        height: 2px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
        
    }
    /* this is for the hamburger lines */
    .menu-button-burger::before,
    .menu-button-burger::after {
        content: '';
        position: absolute;
        width: 5%;
        height: 2px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.632);
        transition: all .5s ease-in-out;
    }
     .menu-button-burger::before {
        transform: translateY(-16px);
        transform: translateY(16px);
        }
    
    /* Dropdown Button */
    .dropbtn {
        margin-top: 20%;
        margin-left: 5%;
        /* border: 1px solid red; */
        background-color: white;    
        display:flex;
        justify-content: center;
        align-items: center;
        width: 6%;
        height: 6%;
        transition: all .5s ease-in-out;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: fixed;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        /* z-index: 1; */
        /* border: 1px solid red; */
        margin-left: 13%;
        margin-top: 13%;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: rgb(198, 188, 188)}
      
      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {display:block;}
    
      .top-flex-container {
          display: flex;
          justify-content: inherit;
          flex-direction: row;
          /* border: 1px solid red; */
      }
      .business-hours {
          color: black;
          text-align: center;
          margin-top: 5%;
      }
      #back-to-top {
          text-align: center;
      }
      .welcome {
          /* background-color: black; */
          color: black;
          justify-content: flex-end;
          display: flex;
          border-radius: 2em;
          flex-direction: column;
          border-top: 1px solid #3B5999;
          border-bottom: 1px solid #3B5999;
      }
      .welcome h3 {
          color: black;
      }
      .article {
          padding: 5%;
          margin-top: -12%;
      }
      
      section {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          width: 500px;
          margin-top: -5%;
         
      }
      #established {
          
          padding: 2%;
      }
      #welcome-header {
          margin-top: 5%;
          margin-left: 5%;
          font-weight: bold;
      }
      #like {
          font-weight: bold;
          /* border: solid 1px red; */
          width: 100%;
      }
      .my-info {
          margin-top: 45%;
          text-align: center;
          
          
      }
      #phone-num {
          font-weight: bold;
          margin-top: 2%;
      }
      #ref {
          margin: 2%;
          text-align: center; 
      }
  }

 /* ======================================================================================================================== */
  @media screen and (max-width: 450px) {
    body {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .container {
        font-family: 'Nunito Sans', sans-serif;
        width: 100%;
    }
    h3 {
        color: white;
    }
    .logo{
        width: 50%;
        margin-top: 2%;
    }
    /* logo and address space */
    .empty-space {   
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
        /* border: 1px solid red; */
        width: 75%;
    
    }
    .body {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    /* hide phone number */
    .hide-info {
        display: none;
    }
    /* targeting individual images */
    .carousel-item{
        padding: 2%;
        width: auto;
        height: 620px;
        max-height: 620px;
    }
    .caroussel {
        width: 100%;
        text-align: center;
        /* border: 1px solid red; */
        height: 20%;
    }
    .messages {
        /* border: 1px solid red; */
        width: 100%;
        text-align: center;
        margin-top: 0%;
        padding: 2%;    
    }
    .icon-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        /* border: 1px solid red; */
    }
    .clase-iconos {
        display: flex;
        justify-content: space-around;
        justify-content: row;
        height: 100%;
        margin-left: 15%;
    }
    .icons {
        width: 12%;
        height: 12%;
        /* border: 1px solid red; */
    }
    .icons:hover {
        transform: scale(1.2);
    }
    .text-area {
        width: 80%;
        
    }
    .menu-button-burger {
        width: 2%;
        height: 2px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
        
    }
    /* this is for the hamburger lines */
    .menu-button-burger::before,
    .menu-button-burger::after {
        content: '';
        position: absolute;
        width: 5%;
        height: 2px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.632);
        transition: all .5s ease-in-out;
    }
     .menu-button-burger::before {
        transform: translateY(-16px);
        transform: translateY(16px);
        }
    
    /* Dropdown Button */
    .dropbtn {
        margin-top: 20%;
        margin-left: 5%;
        /* border: 1px solid red; */
        background-color: white;    
        display:flex;
        justify-content: center;
        align-items: center;
        width: 6%;
        height: 6%;
        transition: all .5s ease-in-out;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: fixed;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        /* z-index: 1; */
        /* border: 1px solid red; */
        margin-left: 25%;
        margin-top: 20%;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: rgb(198, 188, 188)}
      
      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {display:block;}
    
      
      .business-hours {
          color: black;
          text-align: center;
          margin-top: 5%;
      }
      #back-to-top {
          text-align: center;
      }
      .welcome {
        border: none;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        color: black;  
          border-radius: 2em;
          border-top: 1px solid #3B5999;
          border-bottom: 1px solid #3B5999; 
      }
      .welcome h3 {
          color: black;
      }
      /* article {
          padding: 5%;
      } */
      
      section {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          width: 100%;
          
     }
      #established {
          margin-top: 5%;
          margin-left: 5%;
          padding: 2%;
          font-size: 15px;
      }
      #welcome-header {
          margin-top: 0%;
          margin-left: 5%;
          font-weight: bold;
          font-size: 20px;
      }
      .article {
          /* border: solid 1px red; */
          height: 100%;
          width: 100%;
          margin-top: -15%;
      }
      #like {
          margin-top: 5%;
          font-weight: bold;
          font-size: 15px;
      }
      .my-info {
          margin-top: 45%;
          text-align: center;
          
          
      }
      #phone-num {
          font-weight: bold;
          margin-top: 2%;
      }
      #ref {
          margin: 2%;
          text-align: center; 
      }
      /* starting to change to responsive */
     
  }