body{
    margin: 0 auto;
    text-align: center;
    border: 1px solid red;
    background-color: black;
}
.container {
    /* border: 1px solid red; */
}


.logo{
    width: 30%;
}
p{
    color: red;
}
.body{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    /* grid-gap: 1rem; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}
.body-item {
    /* margin-top: 6%; */
    height: 600px;
    border: 1px solid white;
}
h2 {
    color: white;
}
iframe {
    width: 100%;
}
.empty-space{
    margin: 3%;
}
.hide-info {
    display: none;
}
.carousel-item {
    height: 500px;
}
